/Dialogue.class
/FileReader.class
/Main.class
/NovaBot.class
/NovaSentimentsTesting.class
/PipelineToSentiment.class
/Synonyms.class
/UI$1.class
/UI$2.class
/UI.class
/UserDiagnosis.class
/Userfeelings.class
/WordNetTest.class
